<mat-card>
    <mat-card-content>
      <p class="task-name"> {{task.name}} </p>
      <p class="task-description"> {{task.description}} </p>
      <p [ngClass]="getStatusColor(task.status)"> {{ task.status }} </p>
      <mat-divider></mat-divider>
      <mat-card-actions class="buttons">
        <button class="button-delete" mat-icon-button color="warn" (click)="deleteTask(task)">
          <mat-icon >delete</mat-icon>
        </button>
        <button class="button-edit" mat-icon-button color="primary" (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  

