<app-filter (statusSelected)="handleStatusSelected($event)"></app-filter>

<div *ngFor="let task of filteredTasks" class="task-item">
    <div class="task-name">{{ task.name }}</div>
    <div class="task-description">{{ task.description }}</div>
    <p class="task-status" [ngClass]="getStatusColor(task.status)"> {{ task.status }} </p>
    <div class="task-actions">
    <button mat-icon-button color="primary" (click)="editTask(task)">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTask(task)">
        <mat-icon>delete</mat-icon>
    </button>
    </div>
</div>




