.add-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 0, 0.082);;
    }
    .card {
        padding: 10px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
        .add-image{
            width: 50px;
            height: 50px;
        }
        .title{
            display: flex;
            justify-content: center;
            font-family: 'Bubble';
            font-weight: bold;
            font-size: 40px;
            margin: 20px;
            color: #F6FFF8;
            text-shadow: -2px -2px 0 #7cb686,  
                          2px -2px 0 #7cb686,
                          -2px 2px 0 #7cb686,
                          2px 2px 0 #7cb686;
        }
        .contents{
            margin: 20px;
            .titleInput{
                width: 400px;
            }
            .descriptionInput{
                width: 400px;
            }
            .assignInput{
                width: 400px;
            }
        }
        
        .addButton{
            margin-right: 20px;
            color: green;
        }
        .cancelButton{
            margin-left: 20px;
            color:red;
        }